{% extends "base.html" %}
{% block title %} All Directors {% endblock %}

{% block content %}
<div class="container">
   <h1 class="mt-3">Directors:</h1>

  <div class="row bottom-margin">
  <a href="/director/add" class="btn btn-primary" role="button" aria-disabled="true">Add Director</a>
  </div>


{% if directors %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Director Name</th>
        <th scope="col">About</th>
        <th scope="col">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for director in directors %}
        <tr>
          <th scope="row">{{director.id}}</th>
          <td>{{director.name}}</td>
          <td>{{director.about}}</td>
          <td>
            <a href="/director/edit/{{director.id}}" class="btn btn-primary">Edit</a>
            <a href="/director/delete/{{director.id}}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}
  <h2>Directors table is empty</h2>
{% endif %}

</div>
{% endblock %}
