{% extends "base.html" %}
{% block title %}Delete Movies{% endblock %}

{% block content %}
<div class="container">
   <h1 class="mt-3">Delete Movie:</h1>
  <form action="/movie/delete/{{movie.id}}" method="post">
    <div class="form-group">
        <label>Movie Name</label>
        <input class="form-control" type="text" name="name" value="{{movie.name}}" required="true" readonly="true">
    </div>
    <div class="form-group">
      <label>Movie Budget</label>
      <input class="form-control" type="text" name="budget" value="{{movie.budget}}" required="true" readonly="true">
    </div>
    <div class="form-group">
      <label>Movie Director</label>
      <input class="form-control" type="text" name="director" value="{{movie.director.name}}" required="true" readonly="true">
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>

{% endblock %}
